<!DOCTYPE html>
<html>

<head>

    <title>Add Student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<form action="/save" method="POST">
<div class="container">

<h1>Add Student</h1>

<input type="text" name="usn" placeholder="Enter USN"><br><br>

<input type="text" name="name" placeholder="Enter Name"><br><br>

<input type="text" name="year" placeholder="Academic Year"><br><br>

<input type="text" name="cgpa" placeholder="Enter CGPA">

<button type="submit">Save student</button>

<br><br>

<a href="/">
    <button>Home</button>
</a>

</div>
</form>
</body>

</html>