<!DOCTYPE html>
<html>

<head>

<title>Update Student</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<form action="/updatedata" method="POST">
<div class="container">

<h1>Update Student</h1>
<input type="text" name="usn" placeholder="Enter USN">

<br><br>

<input type="text" name="cgpa" placeholder="New CGPA">

<br><br>

<button type="submit">Update</button>
</form>
<br><br>

<a href="/">
<button>Home</button>
</a>

</div>

</body>

</html>