<!DOCTYPE html>
<html>

<head>

<title>Update Student</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<body>
<form action="/updatedata" method="POST" onsubmit="return updateRecord()">
<div class="container">

<h1>Update Student</h1>
<input type="text" name="usn" id="usn" placeholder="Enter USN">

<br><br>

<input type="text" name="cgpa" id="cgpa" placeholder="New CGPA">

<br><br>

<button type="submit">Update</button>
</form>
<br><br>

<button type="button" onclick="window.location.href='/'">
    Home
</button>

</div>

</body>

</html>